.main-net {
  background: #1d2a51;
}

.header-fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
  height: fit-content;
  font-family: 'Roboto';
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.header-container .aelf-logo-container {
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #fff;
}

.header-container .aelf-logo-container>svg {
  width: 116px;
  height: 32px;
}

.header-container .aelf-menu-hidden {
  display: none;
}

.header-container .antExplorer-menu-submenu-title {
  border-bottom: none;
}

.header-container .antExplorer-menu-submenu-title:hover .submenu-arrow {
  transform: rotateX(180deg);
}

.header-container .antExplorer-menu-submenu-title .submenu-arrow {
  font-size: 12px;
  margin-left: 8px;
  margin-right: 10px;
  transition: all 300ms;
}

.header-container .antExplorer-menu {
  color: #000;
  background: transparent;
  border: none;
}

.header-container .antExplorer-menu a:hover {
  color: #327dec !important;
}

.header-container .antExplorer-menu .antExplorer-menu-item {
  border-bottom: none;
}

.header-container .antExplorer-menu .antExplorer-menu-item>a {
  color: #000;
}

.header-container .antExplorer-menu .antExplorer-menu-item-group-title {
  color: #000;
}

.header-container .antExplorer-menu .antExplorer-menu-item-selected,
.header-container .antExplorer-menu .antExplorer-menu-item-active,
.header-container .antExplorer-menu .antExplorer-menu-submenu-active,
.header-container .antExplorer-menu .antExplorer-menu-submenu-selected {
  border-bottom: none;
  color: #327dec;
}

.header-container .antExplorer-menu .antExplorer-menu-item-selected>a,
.header-container .antExplorer-menu .antExplorer-menu-item-active>a,
.header-container .antExplorer-menu .antExplorer-menu-submenu-active>a,
.header-container .antExplorer-menu .antExplorer-menu-submenu-selected>a {
  border-bottom: none;
  color: #327dec !important;
}

.header-container .antExplorer-menu .antExplorer-menu-item-selected>a:hover,
.header-container .antExplorer-menu .antExplorer-menu-item-active>a:hover,
.header-container .antExplorer-menu .antExplorer-menu-submenu-active>a:hover,
.header-container .antExplorer-menu .antExplorer-menu-submenu-selected>a:hover {
  color: #327dec;
}

.header-container .antExplorer-menu .antExplorer-menu-item-active .submenu-arrow,
.header-container .antExplorer-menu .antExplorer-menu-submenu-active .submenu-arrow {
  transform: rotateX(180deg);
}

.header-container .antExplorer-menu .antExplorer-menu-submenu-title:hover {
  color: #327dec;
}

.header-container .antExplorer-menu .antExplorer-menu-submenu-selected .antExplorer-menu-submenu-title .submenu-title-wrapper {
  display: inline-block;
  border-bottom: none;
}

.header-container .header-navbar {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 4px;
  padding-right: 24px;
}

.header-container .antExplorer-menu-item,
.header-container .antExplorer-menu-submenu {
  line-height: 52px;
  transform: none;
  border-bottom: none;
}

.header-container .antExplorer-menu-item:hover,
.header-container .antExplorer-menu-submenu:hover {
  color: #327dec;
  border-bottom: none;
}

.header-container .antExplorer-menu-item,
.header-container .antExplorer-menu-submenu-title,
.header-container .antExplorer-menu-submenu-inline {
  transition: none;
}

.header-container .antExplorer-menu-submenu {
  transition: none;
}

.header-container .antExplorer-menu-horizontal>.antExplorer-menu-item>a {
  display: inline-block;
  color: #000;
  border-bottom: none;
}

.header-container .antExplorer-menu-horizontal>.antExplorer-menu-item-selected>a {
  display: inline-block;
  color: #327dec;
  border-bottom: none;
}

.header-container .header-navbar-mobile-more {
  display: none;
}

.header-main-container .aelf-logo-container>svg {
  width: 96px;
}

.antExplorer-menu-item>a,
.antExplorer-menu-submenu>a {
  display: inline-block;
}

.aelf-submenu-container .antExplorer-menu {
  color: #000;
}

.aelf-submenu-container .antExplorer-menu-item-group-title {
  color: #000;
}

.aelf-submenu-container a {
  color: #000;
}

.aelf-submenu-container .antExplorer-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.aelf-submenu-container .header-chain-selected {
  color: #266cd3 !important;
}

.header-container-mobile {
  flex-direction: column;
}

.header-container-mobile .header-navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-container-mobile .header-navbar .antExplorer-drawer {
  position: fixed;
}

.header-container-mobile .header-navbar .antExplorer-drawer .antExplorer-menu-submenu {
  padding: 0 !important;
}

.header-container-mobile .divider-mobile {
  border-color: #e6e6e6;
  margin: 8px 0;
}

.header-container-mobile .header-navbar {
  margin: 0;
  width: 100%;
  padding-right: 0;
}

.header-container-mobile .header-navbar .search-container {
  width: 100%;
}

.header-container-mobile .header-navbar .search-container .header-search {
  flex: 1;
}

.header-container-mobile .aelf-logo-container {
  font-size: 24px;
}

.header-container-mobile .aelf-logo-container>svg {
  width: 87px;
  height: 24px;
}

.header-container-mobile .antExplorericon-menu {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.header-container-mobile .antExplorer-menu-item {
  line-height: 1.5;
  padding: 8px 16px;
  margin: 0 !important;
}

.header-container-mobile .antExplorer-menu-inline .antExplorer-menu-submenu-title {
  margin: 0;
}

.header-container-mobile .antExplorer-menu:not(.antExplorer-menu-horizontal) .antExplorer-menu-item-selected {
  background: rgba(255, 255, 255, 0.3);
}

.header-container-mobile .header-navbar-mobile-more {
  display: flex;
  color: #327dec;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
  width: 100%;
  padding: 24px;
}

.header-container-mobile .header-navbar-main-mobile-more {
  background-color: #1d2a51;
  color: #fff;
}

.header-main-container-mobile .net-select-container .antExplorer-select-selector {
  background: transparent !important;
  border-color: white !important;
}

.header-main-container-mobile .net-select-container .antExplorer-select-selection-item {
  color: white;
}

.header-main-container-mobile .aelf-logo-container>svg {
  width: 72px;
}

.header-main-container-mobile .header-main-navbar {
  background: #1d2a51;
}

.header-drawer-menu-wrapper .antExplorer-drawer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-drawer-menu-wrapper .antExplorer-drawer-title .close-icon {
  font-size: 12px;
}

.header-drawer-menu-wrapper .antExplorer-drawer-body {
  padding: 16px !important;
  overflow-x: hidden;
}

.header-drawer-menu-wrapper .net-select-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.header-drawer-menu-wrapper .antExplorer-drawer-body>.antExplorer-menu-inline>.antExplorer-menu-submenu-selected .submenu-title-wrapper {
  font-weight: 500;
}

.header-drawer-menu-wrapper .antExplorer-drawer-body>.antExplorer-menu-inline>.antExplorer-menu-submenu>.antExplorer-menu-submenu-title,
.header-drawer-menu-wrapper .antExplorer-drawer-body>.antExplorer-menu-inline>.antExplorer-menu-item {
  padding: 16px !important;
  line-height: 24px;
  height: 56px;
  margin: 0;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline {
  border-right: none;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-item .antExplorericon,
.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-submenu-title .antExplorericon {
  font-size: 12px;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-item:after {
  border-right: none;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-submenu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline {
  width: 130%;
  margin-left: -32px;
  padding-left: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f7f8fa;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline .antExplorer-menu-item {
  overflow: unset;
  padding-left: 72px !important;
  background-color: #f7f8fa !important;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline .antExplorer-menu-item.antExplorer-menu-item-selected {
  background-color: #e5f0ff !important;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline .antExplorer-menu-item>a {
  color: #595959;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline>.antExplorer-menu-submenu>.antExplorer-menu-submenu-title,
.header-drawer-menu-wrapper .antExplorer-menu-inline>.antExplorer-menu-item {
  padding: 16px !important;
  line-height: 24px;
  height: 44px;
  font-weight: 400;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline>.antExplorer-menu-submenu .antExplorer-menu-item {
  height: 40px;
  line-height: 22px;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline>.antExplorer-menu-submenu-open>.antExplorer-menu-submenu-title .submenu-right-arrow {
  transform: rotate(180deg);
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-submenu-selected .antExplorer-menu-submenu-title .submenu-title-wrapper {
  border: none;
}

.header-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline {
  padding-left: 16px;
}

.header-drawer-menu-wrapper .antExplorer-drawer-header {
  padding: 16px 20px;
  height: 56px;
  border: none;
}

.header-drawer-menu-wrapper .antExplorer-drawer-header .aelf-logo-container {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #fff;
}

.header-drawer-menu-wrapper .antExplorer-drawer-header .aelf-logo-container>svg {
  width: 87px;
  height: 24px;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-drawer-title .close-icon {
  color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-drawer-header .aelf-logo-container>svg {
  width: 72px;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .divider-mobile {
  opacity: 0.1;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-drawer-content,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-drawer-header {
  background-color: #1d2a51;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-submenu-title:hover,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-drawer-close {
  color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-select-selection {
  background-color: #1d2a51;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .net-select-container .antExplorer-select-selection {
  border-color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu:not(.antExplorer-menu-horizontal) .antExplorer-menu-item-selected {
  background: none !important;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu:not(.antExplorer-menu-horizontal) .antExplorer-menu-item-selected.antExplorer-menu-item a {
  color: #266cd3;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-sub .antExplorer-menu-item-selected a {
  color: white !important;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .common-select-wrapper.antExplorer-select-open .antExplorer-select-selection,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .common-select-wrapper.antExplorer-select-focused .antExplorer-select-selection {
  border-color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .common-select-wrapper.antExplorer-select-open .antExplorer-select-selection:focus,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .common-select-wrapper.antExplorer-select-focused .antExplorer-select-selection:focus {
  border-color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .common-select-wrapper .antExplorer-select-selection-selected-value,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .net-select-container .antExplorer-select-arrow {
  color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu .antExplorer-menu-submenu,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-item,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-submenu-selected,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-submenu-title {
  background-color: #1d2a51;
  color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu a,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu .antExplorer-menu-submenu a,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-item a,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-submenu-selected a,
.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-submenu-title a {
  color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .net-select-container .antExplorer-select:not(.antExplorer-select-customize-input) .antExplorer-select-selector {
  background: transparent !important;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-submenu-open>div>.antExplorer-menu-submenu-expand-icon {
  transform: rotate(180deg);
  color: #266cd3 !important;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-submenu-active .antExplorer-menu-submenu-expand-icon {
  color: white;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-submenu-expand-icon {
  color: white;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-submenu-selected>.antExplorer-menu-submenu-title {
  color: #266cd3;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline {
  background-color: #2d3f68;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline .antExplorer-menu-item {
  background-color: #2d3f68 !important;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline .antExplorer-menu-item.antExplorer-menu-item-selected {
  background-color: #266cd3 !important;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline .antExplorer-menu-item>a {
  color: #fff;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline .antExplorer-menu-item-selected {
  background-color: #266cd3 !important;
}

.header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-menu-inline .antExplorer-menu-inline .antExplorer-menu-submenu .antExplorer-menu-inline .antExplorer-menu-item-selected>a {
  color: #fff !important;
}

@media screen and (max-width: 1160px) {

  .header-container,
  .header-navbar {
    max-width: 1160px;
  }
}

@media screen and (max-width: 942px) and (min-width: 584px) {
  .header-fixed-container {
    height: 56px;
  }

  .header-fixed-container.only-menu {
    height: 56px;
  }

  .header-container,
  .header-navbar {
    max-width: 942px;
  }

  .header-fixed-container .aelf-logo-container,
  .header-drawer-menu-wrapper .antExplorer-drawer-header .aelf-logo-container {
    font-size: 32px;
  }

  .header-fixed-container .aelf-logo-container>svg,
  .header-drawer-menu-wrapper .antExplorer-drawer-header .aelf-logo-container>svg {
    width: 87px;
    height: 32px;
  }

  .header-main-container-mobile .aelf-logo-container>svg,
  .header-drawer-menu-wrapper.header-main-drawer-menu-wrapper .antExplorer-drawer-header .aelf-logo-container>svg {
    width: 72px;
  }

  .header-drawer-menu-wrapper .net-select-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}