.header-container-top {
  background-color: transparent;
  transition: all 200ms;
  height: 56px;
  border-bottom: 1px solid #e6e6e6;
}
.header-container-top .price-container {
  display: inline-flex;
  border-radius: 14px;
  background: rgba(177, 202, 255, 0.1);
  padding: 3px 8px 3px 5px;
  height: 28px;
  margin-left: 18px;
  color: white;
}
.header-container-top .price-container img {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}
.header-container-top .price-container .range {
  margin-left: 8px;
}
.header-container-top .price-container .range.fall {
  color: #ff4d4f;
}
.header-container-top .header-top-content {
  display: flex;
}
.header-container-top .header-top-content .search-container {
  width: 347px;
  justify-content: space-between;
}
.header-container-top .net-change-menu {
  width: 204px;
  color: #262626;
  background-color: transparent;
  padding-left: 12px;
}
.header-container-top .net-change-menu .ant-menu-submenu-selected .ant-menu-submenu-title .submenu-title-wrapper {
  border-bottom: 0;
  color: #262626;
}
.header-container-top .net-change-menu .ant-menu-item,
.header-container-top .net-change-menu .ant-menu-submenu {
  padding-left: 32px;
  padding-right: 0;
  line-height: 56px;
  border-bottom: none;
}
.header-container-top .net-change-menu .ant-menu-item-active .ant-menu-submenu-title .submenu-title-wrapper,
.header-container-top .net-change-menu .ant-menu-submenu-active .ant-menu-submenu-title .submenu-title-wrapper {
  border-bottom: 0;
  color: #327dec;
}
.header-container-top .net-change-menu .ant-menu-item-active .ant-menu-submenu-title .submenu-title-wrapper > a,
.header-container-top .net-change-menu .ant-menu-submenu-active .ant-menu-submenu-title .submenu-title-wrapper > a {
  color: #327dec;
}
.header-container-top .net-change-menu .ant-menu-item-active .ant-menu-submenu-title .submenu-title-wrapper > a:hover,
.header-container-top .net-change-menu .ant-menu-submenu-active .ant-menu-submenu-title .submenu-title-wrapper > a:hover {
  color: #327dec;
}
.header-container-top .ant-menu-horizontal > .ant-menu-item > a {
  color: #262626;
}
.header-container-top .aelf-logo-container {
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #fff;
}
.header-container-top .aelf-logo-container > svg {
  width: 116px;
  height: 32px;
}
.explorers-popup {
  z-index: 1100;
}
.explorers-popup .ant-menu-item-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.explorers-popup .ant-menu-item-selected::after {
  content: "";
  width: 16px;
  height: 16px;
  opacity: 1;
  transform: none;
  background: url("../../assets/images/correct.png") no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  top: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
.header-container-main-top {
  background-color: #1d2a51;
  border-bottom: none;
}
.header-container-main-top .net-change-menu,
.header-container-main-top .ant-menu-submenu-title:hover,
.header-container-main-top .net-change-menu .ant-menu-submenu-selected .ant-menu-submenu-title .submenu-title-wrapper,
.header-container-main-top .ant-menu-horizontal > .ant-menu-item a {
  color: #fff;
}
.header-container-main-top .net-change-menu .ant-menu-item-active .ant-menu-submenu-title .submenu-title-wrapper,
.header-container-main-top .net-change-menu .ant-menu-submenu-active .ant-menu-submenu-title .submenu-title-wrapper {
  border-bottom: 0;
  color: #327dec;
}
.header-container-main-top .net-change-menu .ant-menu-item-active .ant-menu-submenu-title .submenu-title-wrapper > a,
.header-container-main-top .net-change-menu .ant-menu-submenu-active .ant-menu-submenu-title .submenu-title-wrapper > a {
  color: #327dec;
}
.header-container-main-top .net-change-menu .ant-menu-item-active .ant-menu-submenu-title .submenu-title-wrapper > a:hover,
.header-container-main-top .net-change-menu .ant-menu-submenu-active .ant-menu-submenu-title .submenu-title-wrapper > a:hover {
  color: #327dec;
}
.header-container-main-top .aelf-logo-container > svg {
  width: 96px;
}
