

.resource-wallet .resource-wallet-header {
  display: flex;
  align-items: center;
}

.resource-wallet .resource-wallet-address {
  border-bottom: 1px solid #e5e5e5;
  word-break: break-word;
}

.resource-wallet .antExplorer-divider.antExplorer-divider-horizontal {
  margin: 8px 0;
}

.resource-wallet-address {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 24px;
  @apply lg:gap-0 gap-[4px];
}

.resource-wallet-address-name {
  flex-grow: 1;
  .link-detail-button {
    border-radius: 6px;
    border: 1px solid var(--Neutral-Border, #E1E1E1);
    background: var(--Neutral-White-BG, #FFF);
    text-align: center;
    width: 136px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    a {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; 
      color: var(--Neutral-Title, var(--AELF-Design-Primary-Text, #1A1A1A));
    }
  }
}

.resource-wallet-address-update {
  display: flex;
  align-items: center;
}


.resource-wallet-address-update:hover,
.resource-wallet-address-update:active,
.resource-wallet-address-update:focus {
  color: #327dec;
}

.resource-wallet-operation-container {
  flex-grow: 1;
  display: flex;
  @apply lg:justify-end justify-start;
}

.resource-wallet-operation-container .antExplorer-btn>.antExplorericon {
  line-height: 0;
}
.resource-wallet-info {
  padding-top: 24px;
  padding-bottom: 24px;
}
.resource-wallet-info .antExplorer-row .antExplorer-col {
  margin-bottom: 16px;
}

.resource-wallet-info-name {
  &.balance {
    color: var(--Neutral-Title, var(--AELF-Design-Primary-Text, #1A1A1A));
    font-weight: 700;
  }
}

.resource-wallet-info-value {
  font-weight: 500;
  color: var(--Neutral-Primary-Text, #434343);
}
.resource-wallet-info .antExplorer-row .last-col {
  margin-bottom: 0;
}

.resource-wallet-info-name {
  color: #4c4c4c;
  width: 180px;
  display: inline-block;
}