.proposal-details-wrapper {
   .title-tag-button-wrap {
      @apply relative;
   }
   .execute-button {
      @apply w-[113px] absolute right-0 top-[16px];
   }

   @apply flex flex-col gap-6;

   .TMRWDAO-select-single {
      @apply h-[32px];
   }

   .TMRWDAO-tabs-nav-list {
      .TMRWDAO-tabs-tab {
         @apply px-[16px] lg:px-[32px];
      }
   }
   .votes-total-count {
      border-top: 1px solid var(--Neutral-Divider, #EDEDED);
   }
}
.vote-result-table-wrap {
   .title {
      border-bottom: 1px solid var(--Neutral-Divider, #EDEDED);
   }
   .TMRWDAO-table-thead>tr>th:first-child {
      @apply pl-[32px];
   }
   .TMRWDAO-table-thead>tr>th:last-child {
      @apply pr-[32px];
   }
   .TMRWDAO-table-tbody>tr>td:first-child {
      @apply pl-[32px];
   }
   .TMRWDAO-table-tbody>tr>td:last-child {
      @apply pr-[32px];
   }
   .TMRWDAO-pagination-container {
      @apply px-8;
    }
    .TMRWDAO-table-wrapper .TMRWDAO-table-container table>thead>tr:first-child>*:first-child {
      border-bottom-left-radius: 0;
    }
    .TMRWDAO-table-wrapper .TMRWDAO-table-container table>thead>tr:first-child>*:last-child {
      border-bottom-right-radius: 0px;
  }
}
.tab-contract-info {
   .TMRWDAO-hash-address > span {
    @apply text-[#808080];  
   }
}
.proposal-detail-key-value {
   .TMRWDAO-hash-address > span {
      @apply font-medium;  
   }
}