.votigram-task-wrap {
  @apply px-[16px] pt-[1px];
  min-height: calc(100vh - 154px - 32px);
  .title {
    @apply text-center text-white;
    img {
      vertical-align: -2px;
      @apply w-[18px] mr-[4px];
    }
  }
  .task-complete-icon {
    @apply w-[180px];
  }
  .task-group-item {
    .task-item {
      @apply mt-[8px] h-[64px] p-[12px] flex items-center;
      border-radius: 16px;
      border: 1px solid var(--Border-1, #403493);
      background: var(--Solid-2, #4600C5);
      .icon-wrap {
        @apply w-[40px] h-[40px] p-[8px] text-[24px];
        border-radius: 8px;
        background: var(--Solid-1, #5222D8);
        svg {
          @apply text-white;
        }
      }
      .task-desc {
        @apply flex-1 mx-[8px];
        .task-desc-points {
          @apply text-[#51FF00];
        }
        .task-desc-title {
          @apply text-white;
        }
      }
      .task-button {
        @apply w-[57px] h-[34px] cursor-pointer;
        border-radius: 20px;
        background: var(--Text-2, #DDDFFF);
        color: #4600C5;
        font-size: 16px;
        &.complete {
          color: #DDDFFF;
          opacity: 0.35;
          background: var(--Interactive-3, #362984);
        }
      }
      &.complete {
        .task-desc {
          .task-desc-points {
            @apply text-[#ACA6FF];
          }
        }
      }
    }
  }
  .task-group-item + .task-group-item {
    @apply mt-[24px];
  }
}
.complete-task-modal-content {
  @apply flex flex-col items-center;
  button {
    @apply w-full;
  }
}