.discover-item-wrap {
  .header {
    @apply grid grid-cols-[48px,auto,69px] gap-x-[16px] items-center;
    .icon {
      @apply rounded-lg;
    }
    .title-wrap {
      @apply flex flex-col justify-between h-[48px] overflow-scroll;
      h3 {
        @apply text-white;
      }
    }
    .button-wrap {
      button {
        font-size: 14px;
        font-weight: 510;
        line-height: 20px;
        border-radius: 10px;
        @apply h-[32px];
      }
    }
  }
  .cover-image {
    @apply w-full h-[200px] my-[16px] rounded-2xl;
    object-fit: cover;
    object-position: center;
  }
  .description {
    color: var(--Black-Divider, #e0e0e0);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .tag-wrap {
    @apply flex overflow-scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
.discover-item-wrap + .discover-item-wrap {
  @apply pt-[24px];
  border-top: 1px solid var(--Black-BG-Hover-D, #1b1b1b);
}
.discover-app-detail-drawer {
  max-height: 100vh;
  overflow-y: scroll;
  background: #000;
  .drawer-body {
    @apply p-0;
  }
}
.discover-item-wrap, 
.discover-app-detail-drawer {
  .TMRWDAO-tag {
    border-radius: 100px;
    border: 1px solid var(--Interactive-2, #2d1f73);
    background-color: #000;
    color: var(--Text-1, #aca6ff);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding-left: 8px;
    padding-right: 8px;
    height: 20px;
    margin-inline-end: 4px;
  }
}
