.resource-trading {
  position: relative;
  margin-bottom: 20px;
}

.resource-trading .resource-action-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.resource-trading .resource-action-block .resource-action-title {
  color: #4c4c4c;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  line-height: 16px;
  height: 16px;
}

.resource-trading .resource-action-block .resource-action-input {
  min-width: 140px;
  flex: 1 1;
  display: inline-block;
  width: auto;
}

.resource-trading .resource-action-block .resource-action-input .antExplorer-input-number {
  width: 100%;
  color: #333333;
}

.resource-trading .trading-title-sell {
  color: #F55D6E;
  font-size: 16px;
  font-weight: 900;
}

.resource-trading .trading-title-buy {
  color: #3888FF;
  font-size: 16px;
  font-weight: 900;
}

.resource-buy-divider {
  margin: 15px 0;
}

.resource-trading-head {
  height: 44px;
  background: #ffffff;
  text-indent: 28px;
  line-height: 44px;
  color: #000;
  font-size: 16px;
}

.trading {
  width: 100%;
  min-width: 270px;
}


.trading-input {
  margin: 2px 0;
}

.antExplorer-slider-with-marks {
  margin-bottom: 16px;
}


.trading-button {
  width: 100%;
  height: 48px;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  margin: 14px auto;
  cursor: pointer;
}

.trading-button.sell-btn {
  background: #F55D6E;
  border: none;
  color: #fff;
}

.trading-button.sell-btn:hover {
  background: #F55D6E !important;
  color: #fff !important;
}

.trading-button.buy-btn {
  background: #3888FF;
  border: none;
  color: #fff;
}

.trading-button.buy-btn:hover {
  background: #3888FF !important;
  color: #fff !important;
}

.modal-display-box {
  text-align: center;
  overflow: hidden;
}

.modal-display-box .antExplorer-modal-content {
  text-align: center;
}

.modal-display-box .antExplorer-modal-content .antExplorer-modal-header {
  color: #000;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 24px;
}

.modal-display-box .antExplorer-modal-content .antExplorer-modal-header .antExplorer-modal-title {
  color: #000;
  font-size: 28px;
  line-height: 50px;
}

.modal-display-box .antExplorer-modal-footer {
  border: none;
}

.mobile-mask {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-mask .mobile-mask-text {
  color: #000;
  z-index: 102;
}

.mobile-trading-input {
  width: 100%;
  height: 28px;
  line-height: 28px;
  border: 1px solid #d9d9d9;
  padding: 0 8px 0 8px;
  border-radius: 3px;
  -webkit-appearance: none;
}

.mobile-trading-input::placeholder {
  color: #bfbfbf;
}