.deploy-proposal-form {

  .title-primary {
    @apply text-[20px] leading-[28px] text-neutralTitle font-medium;
  }
  .proposal-type-desc {
    @apply mb-[64px];
  }
}

.proposal-type-select {
  @apply p-0;

  .TMRWDAO-select-item {
    @apply px-[24px] py-[16px];
  }

  .rc-virtual-list-holder {
    @apply !max-h-none;
  }
}

.proposal-type-draw {
  .responsive-select-drawer-menu-item {
    @apply h-auto py-[16px];
  }

  .item-selected {
    .label-text {
      @apply text-colorPrimary;
    }
  }
}

.form-item-label {
  @apply font-medium leading-[24px] flex items-center;

  .label-icon {
    @apply text-[#B8B8B8] ml-[8px];
  }
}