# dependencies
/node_modules

# next.js
/.next/
/out/
/public/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# out
storybook-static
src/app/network-dao/_proposal_root/**/*
src/app/network-dao/_src/**/*
src/app/network-dao/apply/**/*
src/app/network-dao/organization/**/*
src/app/network-dao/proposal-list/**/*
src/app/network-dao/resource/**/*
src/app/network-dao/vote/**/*
src/app/network-dao/layout.tsx