.votigram-wrap {
  background: var(--Background-1, #090816);
  position: relative;
  .line-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 499px;
    background: linear-gradient(180deg, rgba(129, 80, 255, 0.20) 0%, rgba(129, 80, 255, 0.00) 100%);
    .star-bg {
      height: 251px;
      background-image: url('/images/tg/background-dots.png');
      background-size: 100% 100%;
    }
  }
  * {
    font-family: -apple-system, BlinkMacSystemFont,"Roboto","Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  }
}
.votigram-wrap, .telegram-common-drawer,.telegram-scene, .tg-common-modal {
  .title-text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 860;
    line-height: 18px;
  }
  .font-12-28-weight {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  .font-14-18 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .font-14-18-weight {
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 18px;
  }
  .font-16-24-weight {
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: 24px;
  }
  .font-17-22 {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .font-17-22-weight {
    font-size: 17px;
    font-style: normal;
    font-weight: 590;
    line-height: 22px;
  }
  .font-15-20 {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .font-14-20 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .font-18-22-weight {
    font-size: 18px;
    font-style: normal;
    font-weight: 590;
    line-height: 22px;
  }
  .font-20-28-weight{
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: 28px;
  }
  .font-20-25-weight{
    font-size: 20px;
    font-style: normal;
    font-weight: 590;
    line-height: 25px;
  }
  .font-16-20-weight {
    font-size: 16px;
    font-style: normal;
    font-weight: 590;
    line-height: 20px;
  }
  .font-24-32-weight {
    font-size: 24px;
    font-style: normal;
    font-weight: 590;
    line-height: 32px; 
   }
   .font-28-32 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
   }
  .sub-title-text {
    color: var(--Text-Gray-2, #EDEEF0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .TMRWDAO-btn {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 590;
    line-height: 22px; 
    letter-spacing: -0.4px;
    height: 50px;
    background: var(--Solid-1, #5222D8);
    &:not(:disabled)  {
      @apply !text-white !bg-[#5222D8] border-[#5222D8];
      &:hover {
        @apply !text-white !bg-[#5222D8] !border-[#5222D8];
      }
      &:active {
        @apply !text-white !bg-[#5222D8] !border-[#5222D8];
      }
    }
    &:disabled {
      @apply !text-[#464646] !bg-[#292929] border-[#292929];
      &:hover {
        @apply !text-[#464646] !bg-[#292929] !border-[#292929];
      }
      &:active {
        @apply !text-[#464646] !bg-[#292929] !border-[#292929];
      }
    }
  }
}
.tg-information-card {
  border-radius: 16px;
  border: 1px solid var(--Border-1, #403493);
  background: var(--Interactive-1, #221D51);
  padding: 60px 16px 16px 16px;
  margin-top: 32px;
  position: relative;
  .top-logo {
    @apply absolute top-[-1px] left-[50%] translate-x-[-50%] h-[40px] w-[240px];
    img {
      @apply w-full;
    }
    .card-title-text {
      @apply text-white text-center w-full absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
    }
  }
}
.telegram-votigram-footer-main {
  @apply h-[186px] pt-[32px];
}