.App .resource-body.basic-container {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}
.resource-money-market {

}
@media screen and (max-width: 992px) {
}
.resource-icon {
  color: #266cd3;
  font-size: 26px;
  margin-right: 12px;
}
.resource-title {
  @apply card-title;
}
.resource-block {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid var(--Neutral-Divider, #EDEDED);
  background: var(--Neutral-White-BG, #FFF);
}
.resource-header {
  border-bottom: 1px solid #EDEDED;
  padding-left: 32px;
  padding-right: 32px;
  height: 78px;
}
.resource-money-market {
  margin-top: 24px;
  .resource-header  {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    @apply lg:h-[78px] h-auto;
  }
}
.resource-sub-container {
  padding: 0 32px;
}
.resource-blank {
  height: 25px;
  width: 25px;
}
.resource-pc-note {
  text-align: center;
  color: #266cd3;
  padding-top: 16px;
  font-size: 14px;
}
.text-ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .resource-sub-container {
    padding: 0 16px;
  }
}
.ELF-value, .ElF-value {
  color: var(--Brand-Brand, #FA9D2B);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}