.telegram-vote-item {
  @apply overflow-hidden relative bg-[#221D51];
  border-radius: 16px;
  border: 1px solid var(--Border-1, #403493);
  .bg {
    z-index: 1;
    border-radius: 16px;
    @apply  h-[60px] w-full bg-[#4600C5] absolute left-0 top-[0px];
  }
  .vote-item-percent {
    z-index: 2;
    @apply  h-[60px] w-0 opacity-25 bg-[#ACA6FF] absolute left-0 top-[0px];
  }
}
.telegram-vote-item-wrap {
  z-index: 3;
  border-radius: 16px;
  @apply flex items-center pl-[16px]   justify-between  w-full absolute left-0 top-0 h-[60px];
  &.padding-right-large {
    @apply pr-[16px];
  }
  &.padding-right-small {
    @apply pr-[8px];
  }

  .telegram-vote-item-content {
    @apply flex;
  }
  .rank-index-wrap {
    @apply w-[24px] h-[45px];
    &.rank-icon {
      @apply self-start;
    }
    &.rank-not-icon {
      @apply flex flex-col justify-center items-center;
    }
  }
  .rank-text {
    @apply flex flex-col justify-center items-center;
    .title {
      color: var(--Text-Gray-2, #EDEEF0);
      font-size: 18px;
      font-weight: 590;
      line-height: 18px;
      letter-spacing: -0.4px;
    }
    .text {
      color: var(--Text-Gray-1, #B1B3BC);
      font-size: 8px;
      font-weight: 590;
      line-height: 14px;
    }
  }
  .vote-game {
    @apply ml-[16px] flex items-center;
    .vote-game-content {
      @apply flex flex-col ml-[8px];
      .title {
        color: #FFF;
        font-size: 16px;
        font-weight: 590;
        line-height: 20px;
      }
      .show-detail {
        @apply flex items-center cursor-pointer;
      }
      .desc {
        color: var(--Text-1, #ACA6FF);
        width: 100%;
        
        .TMRWDAO-icon {
          @apply text-[12px] pl-[2px];
        }
      }
    }
    .vote-item-rounded {
      @apply rounded-[0.5rem];
    }
    .vote-item-fake-logo {
      color: var(--Solid-2, #4600C5);
      flex-shrink: 0;
      @apply w-[44px] h-[44px] flex-center bg-white;
    }
  }
  .vote-button {
    cursor: pointer;
    display: flex;
    min-width: 55px;
    margin-left: 8px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--Text-2, #DDDFFF);
    color: var(--Solid-2, #4600C5);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 18px;
    &.disabled {
      color: var(--Text-2, #DDDFFF);
      background: var(--Interactive-3, #362984);
      opacity: 0.35;
    }
  }
  .vote-amount {
   @apply text-[#51FF00] font-[590] mr-[8px]; 
  }
  .vote-amount-increse {
    @apply w-[44px] h-[44px];
  }
  .vote-amount-wrap {
    @apply flex items-center pl-[8px];
  }
}
.increment-icon {
  @apply rounded-full w-[36px] h-[36px] bg-[#51FF00] flex-center pointer-events-none fixed z-50;
  border: 1px solid #373940;
  color: var(--Border-2, #4C41A9);
  font-size: 13.5px;
  font-weight: 590;
  animation: moveUpFadeOut 1s ease-in-out forwards;
}
@keyframes moveUpFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
.telegram-like-tooltip {
  &.TMRWDAO-tooltip .TMRWDAO-tooltip-inner {
    background: var(--Text-1, #ACA6FF);
    color: var(--Interactive-1, #221D51);
  }
  &.TMRWDAO-tooltip .TMRWDAO-tooltip-arrow:before {
    background: var(--Text-1, #ACA6FF);
  }
}
.description-full-wrap {
  color: #FFF;
  .open-button {
    @apply w-full mb-[16px] mt-[24px];
  }
}
.app-detail-drawer {
  max-height: 100vh;
  overflow-y: scroll;
  .close-target {
    @apply hidden;
  }
  .drawer-body {
    @apply p-0;
  }
}