.proposal-list {

  &-list {
    min-height: 200px;
    /* @apply page-content-padding; */
  }

  &-filter {
    /* @apply page-content-padding; */
  }
}

@media screen and (max-width: 576px) {
  .proposal-list-filter-form {
    flex-flow: column;
  }
}

.explorer-select {
  min-width: 115px;
  height: 40px !important;
}

.proposal-list-filter-form-input {
  flex: 1;
}

.explorer-proposal-list-filter {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}