.rankings-main{
    @apply px-[16px] pt-[15px] pb-[128px] relative bg-black text-white flex flex-col overflow-y-auto;
    height: 100vh;
}

.telegram-common-drawer {
  .my-points-drawer.telegram-common-drawer-body .drawer-body{
    @apply px-0;
  }
  .my-points-drawer {
    max-height: 100vh;
    overflow-y: scroll;
  }
}

.discover-app-detail-drawer {
    height: 100vh;
    overflow-y: scroll;
    /* background: #000; */
    .drawer-body {
      @apply p-0 h-full;
    }
}