.dao-steps-wrap {

  @apply mb-6;

  .title-wrap {
    @apply flex justify-between items-center;
  }

  .current-step-number {
    @apply font-medium text-[14px] leading-[22px] text-Neutral-Disable-Text;
  }

  .current-step-desc {
    @apply flex flex-col gap-[8px];
  }

  .step-progress.TMRWDAO-progress-line {
    @apply my-[16px];
  }

  .title {
    @apply font-medium text-[16px] leading-[24px] text-colorPrimary;
  }

  .step-title {
    @apply font-medium text-[24px] leading-[32px] text-neutralTitle;
  }

  .step-subtitle {
    @apply font-medium text-[16px] leading-[24px] text-neutralPrimaryText;
  }

  .step-subtext {
    @apply text-[16px] leading-[24px] text-Neutral-Disable-Text;
  }

  .current-text {
    @apply text-colorPrimary;
  }
}


.form-item-label {
  @apply font-medium leading-[24px] flex items-center;

  .label-icon {
    @apply text-[#B8B8B8] ml-[8px];
  }
}

.dao-create-first-screen {
  .dao-create-first-screen-title {
    @apply font-medium lg:text-[24px] lg:leading-[32px] text-neutralTitle text-[20px] leading-[28px];
  }

  .icon {
    @apply w-[64px] h-[64px];
  }

  .icon-wrap {
    @apply bg-Neutral-Hover-BG flex items-center justify-center py-[50px] rounded-md;
  }

  .dao-create-preview {
    @apply flex justify-between gap-[18px];
  }

  .dao-create-preview-item {
    @apply flex-1 p-[16px] dao-border-round bg-white;

    p {
      @apply font-medium text-[14px] leading-[22px] text-Neutral-Disable-Text mt-[10px] mb-[8px];
    }

    h3 {
      @apply font-medium text-[16px] leading-[24px] text-neutralTitle;
    }
  }
}