.bg-black {
  background-color: #000;
}
.wallet-entry-button {
  position: fixed;
  right: 0;
  bottom: 24px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--Solid-1, #5222D8);
  box-shadow: 0px 4px 8px 0px rgba(34, 14, 91, 0.40);
  z-index: 1001;
  color: white;
  cursor: pointer;
}
