@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .button-border-normal {
    @apply border-solid border border-Neutral-Divider;
  }

  .page-content-padding {
    @apply px-4 lg:px-8 pb-4 lg:pb-8;
  }

  .page-content-bg-border {
    @apply bg-white rounded-lg border border-solid border-Neutral-Divider px-4 lg:px-8 py-4 lg:py-8;
  }

  .dao-border-round {
    @apply button-border-normal rounded-lg;
  }
  .normal-text {
    @apply text-[16px] leading-[24px] text-neutralTitle;
  }
  .normal-text-bold {
    @apply text-[16px] leading-[24px] text-neutralTitle font-medium;
  }

  .form-item-title {
    @apply text-[16px] leading-[24px] text-neutralPrimaryText font-medium;
  }

  .dao-detail-card {
    @apply border-0 lg:border lg:mb-[10px] border-Neutral-Divider border-solid rounded-lg bg-white px-4 lg:px-8 lg:py-6 pt-[8px] pb-[24px];
  }

  .card-title {
    @apply text-[20px] leading-[28px] text-neutralTitle font-medium;
  }
  .card-sm-text {
    @apply text-[14px] leading-[22px];
  }
  .card-xsm-text {
    @apply text-[12px] leading-[20px];
  }
  .card-sm-text-bold {
    @apply text-[14px] leading-[22px] font-medium;
  }

  .card-title-lg {
    @apply text-[24px] leading-[32px] text-neutralTitle font-medium;
  }
  .error-text {
    @apply text-error h-[32px] flex items-center;
  }
  .table-title-text {
    @apply text-[14px] leading-[20px] text-Neutral-Secondary-Text font-medium;

  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .max-content {
    width: max-content;
  }
}


html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #fafafa;
  margin: 0;
  font-size: 16px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: Roboto, sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('/font/Roboto-Regular.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}


/* Upload */
.TMRWDAO-upload {
  .TMRWDAO-upload-button {
    &:active {
      @apply border border-dashed;
    }
  }
}

.TMRWDAO-table-container .TMRWDAO-select-single {
  @apply h-[32px];
}

.TMRWDAO-select-item-option-disabled {
  @apply !text-Neutral-Disable-Text
}

.hash-link-color>span {
  @apply !text-inherit;
}
.TMRWDAO-message .TMRWDAO-message-notice-wrapper .TMRWDAO-message-custom-content>.anticon {
  vertical-align: -0.125em;
}
.TMRWDAO-table-wrapper td.TMRWDAO-table-column-sort {
  @apply bg-white;
}
.TMRWDAO-table-wrapper .TMRWDAO-table-column-sorters {
  @apply justify-start;
  
}
.TMRWDAO-table-wrapper .TMRWDAO-table-column-title {
  @apply flex-grow-0;
}
.dao-tx-hash {
  &>span {
    @apply truncate max-w-[120px];
  }
}
.TMRWDAO-pagination-container .TMRWDAO-select-selector {
  @apply !border-Neutral-Disable-Text;
}
.TMRWDAO-tabs-nav {
  overflow: hidden!important;
}
.TMRWDAO-members-hash-address {
  @apply flex justify-between w-full;
  .TMRWDAO-icon {
    @apply text-[20px];
  }
}