.search-banner-container {
  text-align: center;
  height: 205px;
}
.search-banner-container .search-banner {
  margin: auto;
  max-width: 610px;
  text-align: center;
}
.search-banner-container .search-banner h2 {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
  color: #000;
}
.search-banner-container .search-banner h3 {
  font-size: 20px;
  margin: 0 0 28px 0;
  font-weight: 400;
  color: #000;
}
.search-banner-container .search-banner .header-search {
  width: 559px;
  border: 1px solid #999;
}
.search-banner-container .search-banner .header-search .ant-input {
  background: #FFF;
  color: #000;
}
@media screen and (max-width: 768px) {
  .search-banner-container {
    height: auto;
  }
  .search-banner-container .search-banner-text {
    display: none;
  }
}
