/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-16 19:11:55
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 19:17:52
 * @Description: file content
 */
.candidate-apply-team-info-key-in-container {
  padding: 0 10px 50px;
}
.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-no-auth {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-size: 18px;
}
.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-title {
  margin: 20px;
  padding: 20px 0;
  font-size: 18px;
  color: #266cd3;
}
.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form {
  width: 50%;
  margin: 0 auto;
}
.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-footer {
  margin-top: 100px;
  text-align: center;
}
.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-footer .ant-btn + .ant-btn {
  margin-left: 100px;
}
.candidate-apply-team-info-key-in-container .ant-input,
.candidate-apply-team-info-key-in-container .ant-select-selection,
.candidate-apply-team-info-key-in-container .ant-btn {
  border-radius: 16px;
}
.candidate-apply-team-info-key-in-container .ant-input-group-addon:first-child {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.loading-container .ant-spin {
  display: block;
  padding: 60px;
  margin: 0 56px 30px;
}
@media (max-width: 768px) {
  .candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form {
    width: 80%;
  }
}
