.proposal-detail .antExplorer-card-head {
  background-color: #EDEDED;
}
.proposal-detail {
  .unset-bottom-border {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .unset-top-border {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .proposal-detail-tab {
    background-color: #fff;
  }
  .description{
    border-radius: 6px;
    border: 1px solid var(--Neutral-Border, #E1E1E1);
    background: var(--Neutral-Hover-BG, #FAFAFA);
  }
  .proposal-vote {
    .title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #1A1A1A;
    }
  }
  .tag-font {
    font-size: 10px;
    font-weight: 400;
    line-height: 18px; /* 180% */
    color: var(--Neutral-Secondary-Text, #919191);
  }
  .proposal-key-value {
    @apply grid lg:grid-cols-3 lg:gap-x-[24px] gap-y-[16px] grid-cols-1;
  }
  .link-preview {
    @apply p-[24px];
  }
  .link-preview-content {
    @apply flex;
    .icon {
      @apply w-[48px] h-[48px] rounded-full;
      &.text {
        @apply text-white flex items-center justify-center bg-colorPrimary;
      }
    }
  }
  .link-preview-info {
    @apply ml-[16px] flex flex-col justify-between;
    h3 {
      @apply card-sm-text-bold text-neutralPrimaryText;
    }
    p {
      @apply card-sm-text text-Neutral-Secondary-Text;
    }
  }
}

.proposal-detail .antExplorer-btn-primary:disabled,
.proposal-detail .antExplorer-btn-default.antExplorer-btn-dangerous:disabled {
  color: rgba(0, 0, 0, .25);
  border-color: #d9d9d9;
  background: #f5f5f5;
}

.proposal-detail .detail-flex {
  display: flex;
  flex-flow: row nowrap;
}

.proposal-detail .detail-flex .sub-title {
  white-space: nowrap;
}

.proposal-detail .vote-data-button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.proposal-detail-header-divider {
  margin-top: 0;
}

@media screen and (max-width: 576px) {
  .proposal-detail .detail-flex {
    display: block;
    flex-flow: row nowrap;
  }

  .proposal-detail .detail-flex span {
    display: block;
  }

  .proposal-detail .vote-data-button {
    flex-flow: row;
    justify-content: space-between;
  }
}