/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-07 17:42:20
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-07 18:50:20
 * @Description: file content
 */
.antExplorer-table-pagination {
  text-align: right !important;
}

.node-table {
  padding: 0 16px;
}

.node-table-header {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 16px 0;
}

.node-table .antExplorer-progress-text {
  color: #fff;
}

.node-table .antExplorer-progress-inner {
  background: none;
  border: 1px solid #fff;
}

.node-table .node-table-wrapper {
  margin: 0;
  padding: 0;
}

.node-table .node-table-wrapper .table-layer-block {
  display: none;
}

.node-table-btn-group>button {
  display: inline-block;
}

.node-table-btn-group>button:first-child {
  margin-right: 20px;
}

.node-table .antExplorer-table-tbody>tr.antExplorer-table-row:hover>td,
.node-table .antExplorer-table-tbody>tr>td.antExplorer-table-cell-row-hover {
  background: #f7f8f9 !important;
}