.dao-detail {
  @apply w-full block flex-col items-center;

  .TMRWDAO-select-single {
    @apply h-[32px];
  }

  .dao-detail-content {
    @apply flex my-6;
    &.network-dao {
      @apply mt-0;
    }

    .dao-detail-content-left {
      @apply flex-1;
      width: calc(100% - 462px);
    }

    .dao-detail-content-left-tab {
      @apply flex-1 bg-white mb-[16px] border border-Neutral-Divider border-solid rounded-lg;
    }

    .tab-all-proposals {
      @apply px-4 pb-6 lg:px-8 pt-2;
    }

    .tab-all-proposals-header {
      @apply flex justify-between items-center mb-4;

      .title {
        @apply text-[20px] font-medium leading-[28px] text-neutralTitle;

      }
    }

    .tab-all-proposals-select {
      @apply w-full h-[40px];
    }

    .dao-detail-content-right {
      @apply w-[437px] ml-6;
    }
  }

}