.votigram-main {
  @apply px-[16px] pt-[15px] relative;
  min-height: calc(100vh - 186px);
  .vote-lists {
    transform: translateZ(0);
    @apply flex flex-col gap-[8px];
  }
  /* .padding-bottom-content {
    @apply h-[106px];
  } */

  .rules-wrap {
    @apply  top-[62px] right-[24px];
  }
  .banner {
    @apply rounded-[1rem] overflow-hidden;
    .TMRWDAO-carousel {
      @apply w-full h-[7.5rem];
    }
    .banner-img {
      @apply w-full h-[7.5rem];
    }
  }
  .votigram-activity-title {
    @apply my-[16px] flex justify-between items-center gap-[12px];
    li {
      border-radius: 16px;
      background: var(--Interactive-1, #221D51);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        color: var(--Text-Gray-2, #EDEEF0);
      }
      color: var(--Text-Gray-2, #EDEEF0);
      @apply h-[65px] flex-1 px-[16px] py-[12px];
      &.total-points {
        p {
          color: var(--Accent-2, #51FF00);
        }
      }
      &.remaining-vote {
      }
    }
  }

}
.votigram-loading-wrap {
  @apply flex justify-center items-center mt-[155px];
}
.vote-item-icon {
  @apply rounded-lg;
}

.votigram-rules-text-list {
  @apply pl-[16px] list-decimal;
  li + li {
    @apply mt-[18px];
  }
}

.vote-item-fake-logo-drawer {
  color: var(--Solid-2, #4600C5);
  flex-shrink: 0;
  @apply w-[64px] h-[64px] flex-center rounded-[0.5rem] bg-white;
}
.nft-miss-modal-content {
  @apply flex flex-col items-center;
  button {
    @apply w-full;
  }
}