.treasury-table-column-clear-pl {
}

.table-header-sorter-left {
  .TMRWDAO-table-column-sorters {
    @apply justify-normal;
  }

  .TMRWDAO-table-column-title {
    @apply flex-grow-0 pl-[8px];
  }
}

.treasury-tab {
  .TMRWDAO-tabs-nav .TMRWDAO-tabs-tab:first-child {
    @apply lg:ml-[16px] ml-0;
  }
}
.interactive-tag {
  @apply w-[36px] inline-block text-center;
  &.in {
    color: #05C4A2;
    border-radius: 4px;
    border: 1px solid rgba(5, 196, 162, 0.40);
    background: var(--Executed-Executed-Container, #E4F8F5);
  }
  &.out {
    color: #F8B042;
    border-radius: 4px;
    border: 1px solid rgba(248, 176, 66, 0.40);
    background: var(--Active-Active-Container, #FEF7EC);
  }
}
.treasury-page-content {
  .method-tag {
    border-radius: 4px;
    border: 1px solid var(--Neutral-Border, #E1E1E1);
    background: var(--Neutral-Default-BG, #F6F6F6);
    @apply w-[96px] h-[24px] text-center leading-[24px] truncate px-[8px];
  }
  .treasury-token {
    @apply text-[12px] leading-[20px] font-normal text-neutralTitle; 
  }
  .treasury-token-list-table {
    .TMRWDAO-table-tbody>tr:last-child>td {
      @apply border-b-0;
   }
   .token-pair {
    .token-text {
      @apply normal-text-bold;
    }
    .token-logo {
      @apply w-[32px] h-[32px] pr-[8px];
    }
   }
  }
}