.treasury-wrap {
  @apply min-h-[398px] mb-[16px];

  .token img {
    @apply pr-[4px];
  }

  .small-button {
    @apply !h-[30px] w-[104px];
  }
  .token-list-table {
    @apply mb-[32px];
    .TMRWDAO-table-container {
      border-end-start-radius:8px;
      border-end-end-radius:8px;
    }
    .TMRWDAO-table-thead > tr > th {
      @apply table-title-text h-[48px] lg:py-[14px];
    }
    .TMRWDAO-table-thead > tr > th:not(:last-child)  {
      border-inline-end: none !important;
    }
    .TMRWDAO-table-thead > tr > th:last-child,
    tbody>tr>td:last-child
    {
      @apply text-right pr-[32px];
    }
    .TMRWDAO-table-thead > tr > th:first-child,
    tbody>tr>td:first-child
    {
      @apply pl-[32px];
    }
    tbody>tr:last-child > td:first-child {
      border-radius: 0 0 0 8px;
    }
    tbody>tr:last-child > td:last-child {
      border-radius: 0 0 8px 0;
    }

    tbody>tr>td {
      @apply card-xsm-text h-[52px] lg:py-[16px];
    }
    tbody>tr:not(:last-child)>td {
      @apply border-b-0;
    }
    tbody>tr>td:not(:last-child) {
      border-inline-end: none !important;
    }
    thead th {
      @apply bg-Neutral-Hover-BG ;
    }
  }

  .treasury-info-item+.treasury-info-item {
    @apply mt-6;
  }

  .treasury-icon {
    @apply mt-6;
  }

  .assets-title {
    @apply font-[500] text-[20px] leading-[28px] mt-6;
  }

  .text-14-22-500 {
    @apply text-[14px] leading-[22px] font-[500];
  }

  .assets-help-message {
    @apply font-normal text-[14px] leading-[22px] mt-[8px] text-Neutral-Secondary-Text text-center;
  }

  .assets-help-message-text-wrap {
    @apply w-[230px];
  }

  .card-title {
    @apply font-[500] text-[20px] leading-[28px];
  }

  .usd-value {
    @apply font-[500] text-[24px] leading-[32px] flex-1;
  }

  .treasury-info-item-line-1 {
    @apply text-Neutral-Secondary-Text text-[12px] leading-[20px] mb-1;
  }

  .treasury-info-item-line-2 {
    @apply text-Neutral-Primary-Text mb-1 flex justify-between;
  }

  .treasury-info-item-line-3 {
    @apply text-Neutral-Primary-Text flex justify-between;
  }
}

.treasury-choice-modal {
  .choice-item {
    @apply flex-1 flex items-center justify-between;

    .choice-item-btn {
      @apply w-[124px];
    }
  }


  .choice-item-text-subtitle {
    @apply text-Primary-Text text-[14px] leading-[22px];

  }

}

.choice-items {
  @apply flex justify-between gap-[16px] flex-col;

}

.choice-modal-wrap {
  /* @apply !z-[999]; */
}