.dynamic-form-list {
  @apply lg:mt-[32px] mt-[24px];
 .dynamic-form-buttons {
    @apply mt-[8px] flex justify-between lg:justify-start;
  }

  .dynamic-form-buttons-item {
    @apply w-[143px];
  }
  .dynamic-form-buttons-item + .dynamic-form-buttons-item {
    @apply ml-[16px];
  } 
}
.dynamic-option-item {
  .TMRWDAO-form-item:not(.TMRWDAO-form-item-horizontal) .TMRWDAO-form-item-row {
    @apply lg:flex-row flex-col;
  }
  .TMRWDAO-form-item:not(.TMRWDAO-form-item-horizontal) .TMRWDAO-form-item-control {
    @apply lg:w-auto w-full;
  }
  .TMRWDAO-form-item:not(.TMRWDAO-form-item-horizontal) .TMRWDAO-form-item-label {
    @apply lg:pb-0;
  }
  .TMRWDAO-form-item:not(.TMRWDAO-form-item-horizontal) .TMRWDAO-form-item-label>label {
    @apply lg:h-[48px];
  }
}
.dynamic-option-simple-item {
  @apply flex gap-[16px] items-center;
  .TMRWDAO-form-item {
    @apply flex-grow mb-0;
  }
}
.deploy-proposal-options-form {
  .divide-title {
    @apply my-[32px] pt-[32px];
    border-top: 1px solid var(--Neutral-Divider, #EDEDED);
  }
  & .TMRWDAO-form > .TMRWDAO-form-item {
    @apply lg:mt-[32px] mt-[24px];
  }
  .form-item-label {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
.dynamic-form-item-wrap {
  &.simple {
    @apply mb-[16px];
  }
}