/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-23 15:20:28
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-10 00:17:33
 * @Description: file content
 */
.card-container {
  margin-bottom: 20px;
  padding: 20px 30px;
  overflow: hidden;
}
.remove-antd-tabs-default-style .ant-tabs-bar {
  border-bottom: 0 !important;
  margin: 0 56px 30px;
}
.remove-antd-tabs-default-style .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-tab-active {
  color: #fff;
}
.remove-antd-tabs-default-style .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-ink-bar {
  display: none !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-item-value {
  width: 600px;
  display: inline-block;
}
.node-name-in-table {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vote-wrapper header {
  max-width: 1200px;
  margin: auto;
  padding: 24px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .vote-wrapper {
    padding: 0 20px;
  }
}
.vote-container {
  padding: 20px 0;
}
.vote-container.vote-menu {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0 !important;
}
.vote-container.vote-content {
  margin-top: 0 !important;
}
.vote-container .ant-tabs-tab {
  color: #fff;
}
.vote-container .ant-tabs-tab:hover > a {
  color: #40a9ff !important;
}
.vote-container .ant-tabs-tab.ant-tabs-tab-active,
.vote-container .ant-tabs-tab.ant-tabs-tab-active > a {
  color: #40a9ff !important;
}
.vote-container .ant-menu {
  background: #fff;
  padding-left: 16px;
}
.vote-container .ant-menu .ant-menu-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 12px 0;
  margin-right: 32px;
}
.vote-container .ant-menu .ant-menu-item-selected:after {
  left: 0;
  right: 0;
  border-bottom: 2px solid #266cd3 !important;
  transition: 0.3s;
}
.vote-container .ant-menu .ant-menu-item-active:after,
.vote-container .ant-menu .ant-menu-item-open:after,
.vote-container .ant-menu .ant-menu-item:hover:after {
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.vote-container .ant-table-thead > tr > th,
.vote-container .ant-table-tbody > tr > td {
  white-space: nowrap;
}
.vote-container-simple {
  padding: 0 !important;
  margin: 25px auto 25px auto !important;
}
.secondary-level-nav {
  margin: 0 56px 30px;
}
.secondary-level-nav .ant-tabs-bar {
  border-bottom: 0 !important;
  margin: 0 56px 30px;
}
.secondary-level-nav .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-tab-active {
  color: #fff;
}
.secondary-level-nav .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-ink-bar {
  display: none !important;
}
.secondary-level-nav .ant-radio-wrapper {
  color: #000;
}
.secondary-level-nav .ant-tabs-bar {
  margin-bottom: 20px;
  padding: 20px 30px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .secondary-level-nav {
    margin: 0 5px 16px;
  }
}
.node-list-header,
.my-vote-records-header {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
}
.node-list-header .ant-input-search,
.my-vote-records-header .ant-input-search {
  width: 200px;
  float: right;
}
.node-list-header .node-color-intro-item,
.my-vote-records-header .node-color-intro-item {
  margin-left: 20px;
  font-size: 15px;
  color: lightgray;
}
.node-list-header .node-color-intro-item:before,
.my-vote-records-header .node-color-intro-item:before {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background: lightgreen;
}
.node-list-header .node-color-intro-item:first-child:before,
.my-vote-records-header .node-color-intro-item:first-child:before {
  background: lightcoral;
}
.vote-confirm-modal {
  text-align: center;
  overflow: hidden;
}
.vote-confirm-modal .ant-modal-body {
  padding: 30px 30px 10px;
}
.vote-confirm-modal .ant-modal-body .form-item-label {
  text-align: right;
}
.vote-confirm-modal .ant-modal-body .form-item-value {
  text-align: left;
  text-indent: 10px;
}
.vote-confirm-modal .ant-modal-footer button + button {
  margin-left: 50px;
}
.vote-confirm-modal .ant-form-item {
  text-align: left;
}
.vote-confirm-modal .ant-form-item .ant-form-item-label label {
  color: #fff;
}
.vote-confirm-modal .ant-form-item .ant-input-affix-wrapper {
  width: auto;
}
.vote-confirm-modal .ant-form-item .ant-input {
  width: auto;
}
.vote-confirm-modal .ant-slider-mark-text {
  color: #fff;
}
.vote-confirm-modal span.ant-radio + * {
  color: #fff;
}
.vote-confirm-modal .ant-modal-content {
  text-align: center;
}
.vote-confirm-modal .ant-modal-content .ant-modal-header {
  padding: 10px;
  height: auto;
}
.vote-confirm-modal .ant-modal-content .ant-modal-footer {
  text-align: center;
  padding-bottom: 32px;
}
.vote-confirm-modal .ant-tabs label:hover {
  color: #327dec;
  cursor: pointer;
}
.vote-confirm-modal .ant-tabs .ant-tabs-tab-active label {
  color: #266cd3;
}
.plugin-lock-modal {
  text-align: center;
  overflow: hidden;
}
.plugin-lock-modal .ant-modal-body {
  padding: 50px;
}
.plugin-lock-modal .ant-form-item {
  text-align: left;
}
.plugin-lock-modal .ant-form-item .ant-form-item-label label {
  color: #fff;
}
.plugin-lock-modal .ant-form-item .ant-input-affix-wrapper {
  width: auto;
}
.plugin-lock-modal .ant-form-item .ant-input {
  width: auto;
}
.plugin-lock-modal .ant-slider-mark-text {
  color: #fff;
}
.plugin-lock-modal span.ant-radio + * {
  color: #fff;
}
.plugin-lock-modal .ant-modal-content {
  text-align: center;
}
.plugin-lock-modal .ant-modal-content .ant-modal-header {
  padding: 10px;
  height: auto;
}
.plugin-lock-modal .ant-modal-content .ant-modal-footer {
  text-align: center;
  padding-bottom: 32px;
  border: none;
}
.plugin-lock-modal .ant-modal-content .ant-modal-footer .ant-btn {
  width: 320px;
}
.plugin-lock-modal .ant-modal-content .ant-modal-footer .ant-btn:first-child {
  display: none;
}
.plugin-lock-modal .ant-tabs label:hover {
  color: #327dec;
  cursor: pointer;
}
.plugin-lock-modal .ant-tabs .ant-tabs-tab-active label {
  color: #266cd3;
}
.plugin-lock-modal .ant-form {
  width: 70%;
  margin: 0 auto;
}
.plugin-lock-modal .ant-form .ant-form-item {
  text-align: left;
  margin-bottom: 24px;
  color: #000;
}
.plugin-lock-modal .ant-form .ant-form-item.form-item-with-extra {
  position: relative;
}
.plugin-lock-modal .ant-form .ant-form-item.form-item-with-extra .form-item-extra {
  position: absolute;
  right: 0;
  top: -18px;
  color: #ccc;
  font-size: 13px;
}
.plugin-lock-modal .ant-form .ant-form-item .ant-form-item-label,
.plugin-lock-modal .ant-form .ant-form-item .form-item-value {
  font-size: 14px;
  text-align: left !important;
  line-height: 34px;
}
.plugin-lock-modal .ant-form .ant-form-item .ant-form-item-label label {
  color: #999;
  margin-left: 20px;
}
.plugin-lock-modal .ant-form .ant-form-item .form-item-value,
.plugin-lock-modal .ant-form .ant-form-item .ant-input {
  width: 100%;
  text-align: center;
}
.plugin-lock-modal .ant-form .ant-form-item .ant-form-item-control {
  line-height: inherit;
}
.plugin-lock-modal .ant-form .ant-form-item .ant-form-item-control .right-icon {
  position: absolute;
  right: -30px;
  top: 0;
  color: #999;
}
.plugin-lock-modal .ant-form .ant-form-item .ant-calendar-picker {
  width: 100%;
}
.plugin-lock-modal .ant-form .ant-form-item .ant-calendar-picker > div {
  height: 34px;
}
.text-wrap-container {
  text-align: left;
  white-space: pre-line;
}
.table-btn {
  line-height: 1;
  border: none;
  width: 78px;
  height: 26px;
  border-radius: 13px;
}
.table-btn.ant-btn-primary[disabled] {
  background-color: #f5f5f5 !important;
}
.table-btn.vote-btn {
  background-color: #266cd3;
}
.table-btn.vote-btn:hover {
  background: #327dec;
}
.table-btn.redeem-btn {
  background-color: #05ac90;
}
.node-table-wrapper td.ant-table-cell-fix-right .node-table-btn-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
}
.node-table-wrapper td.ant-table-cell-fix-right .node-table-btn-group .table-btn {
  width: 100%;
  border: none;
  border-radius: 4px;
  display: flex;
  height: 24px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.node-table-wrapper td.ant-table-cell-fix-right .node-table-btn-group .table-btn.ant-btn-default[disabled] {
  border: 1px solid var(--color-border, #d0d0d0);
  background: var(--color-hover, #f7f8fa);
  color: var(--color-border, #d0d0d0);
}
.node-table-wrapper td.ant-table-cell-fix-right .node-table-btn-group .table-btn.vote-btn {
  background: var(--color-brand-default, #266cd3);
}
.node-table-wrapper td.ant-table-cell-fix-right .node-table-btn-group .table-btn.vote-btn:hover {
  background: var(--color-brand-hover, #327dec);
}
.node-table-wrapper td.ant-table-cell-fix-right .node-table-btn-group .table-btn.redeem-btn {
  background-color: #05ac90;
}
@media (max-width: 1182px) {
  .node-table-wrapper td.ant-table-cell-fix-right {
    padding-right: 0 !important;
    padding-left: 8px !important;
  }
  .node-table-wrapper td.ant-table-cell-fix-right .node-table-btn-group button:first-child {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .node-table-wrapper td.ant-table-cell-fix-right {
    padding-right: 0 !important;
    padding-left: 8px !important;
  }
  .node-table-wrapper td.ant-table-cell-fix-right .node-table-btn-group .table-btn {
    font-size: 10px;
  }
}
.vote-modal,
.vote-redeem-modal,
.apply-node-modal,
.dividend-modal,
.vote-confirm-modal,
.plugin-lock-modal {
  text-align: center;
  overflow: hidden;
}
.vote-modal .ant-form,
.vote-redeem-modal .ant-form,
.apply-node-modal .ant-form,
.dividend-modal .ant-form,
.vote-confirm-modal .ant-form,
.plugin-lock-modal .ant-form {
  width: 70%;
  margin: 0 auto;
}
.vote-modal .ant-form .ant-form-item,
.vote-redeem-modal .ant-form .ant-form-item,
.apply-node-modal .ant-form .ant-form-item,
.dividend-modal .ant-form .ant-form-item,
.vote-confirm-modal .ant-form .ant-form-item,
.plugin-lock-modal .ant-form .ant-form-item {
  text-align: left;
  margin-bottom: 24px;
  color: #000;
}
.vote-modal .ant-form .ant-form-item.form-item-with-extra,
.vote-redeem-modal .ant-form .ant-form-item.form-item-with-extra,
.apply-node-modal .ant-form .ant-form-item.form-item-with-extra,
.dividend-modal .ant-form .ant-form-item.form-item-with-extra,
.vote-confirm-modal .ant-form .ant-form-item.form-item-with-extra,
.plugin-lock-modal .ant-form .ant-form-item.form-item-with-extra {
  position: relative;
}
.vote-modal .ant-form .ant-form-item.form-item-with-extra .form-item-extra,
.vote-redeem-modal .ant-form .ant-form-item.form-item-with-extra .form-item-extra,
.apply-node-modal .ant-form .ant-form-item.form-item-with-extra .form-item-extra,
.dividend-modal .ant-form .ant-form-item.form-item-with-extra .form-item-extra,
.vote-confirm-modal .ant-form .ant-form-item.form-item-with-extra .form-item-extra,
.plugin-lock-modal .ant-form .ant-form-item.form-item-with-extra .form-item-extra {
  position: absolute;
  right: 0;
  top: -18px;
  color: #ccc;
  font-size: 13px;
}
.vote-modal .ant-form .ant-form-item .ant-form-item-label,
.vote-redeem-modal .ant-form .ant-form-item .ant-form-item-label,
.apply-node-modal .ant-form .ant-form-item .ant-form-item-label,
.dividend-modal .ant-form .ant-form-item .ant-form-item-label,
.vote-confirm-modal .ant-form .ant-form-item .ant-form-item-label,
.plugin-lock-modal .ant-form .ant-form-item .ant-form-item-label,
.vote-modal .ant-form .ant-form-item .form-item-value,
.vote-redeem-modal .ant-form .ant-form-item .form-item-value,
.apply-node-modal .ant-form .ant-form-item .form-item-value,
.dividend-modal .ant-form .ant-form-item .form-item-value,
.vote-confirm-modal .ant-form .ant-form-item .form-item-value,
.plugin-lock-modal .ant-form .ant-form-item .form-item-value {
  font-size: 14px;
  text-align: left !important;
  line-height: 34px;
}
.vote-modal .ant-form .ant-form-item .ant-form-item-label label,
.vote-redeem-modal .ant-form .ant-form-item .ant-form-item-label label,
.apply-node-modal .ant-form .ant-form-item .ant-form-item-label label,
.dividend-modal .ant-form .ant-form-item .ant-form-item-label label,
.vote-confirm-modal .ant-form .ant-form-item .ant-form-item-label label,
.plugin-lock-modal .ant-form .ant-form-item .ant-form-item-label label {
  color: #999;
  margin-left: 20px;
}
.vote-modal .ant-form .ant-form-item .form-item-value,
.vote-redeem-modal .ant-form .ant-form-item .form-item-value,
.apply-node-modal .ant-form .ant-form-item .form-item-value,
.dividend-modal .ant-form .ant-form-item .form-item-value,
.vote-confirm-modal .ant-form .ant-form-item .form-item-value,
.plugin-lock-modal .ant-form .ant-form-item .form-item-value,
.vote-modal .ant-form .ant-form-item .ant-input,
.vote-redeem-modal .ant-form .ant-form-item .ant-input,
.apply-node-modal .ant-form .ant-form-item .ant-input,
.dividend-modal .ant-form .ant-form-item .ant-input,
.vote-confirm-modal .ant-form .ant-form-item .ant-input,
.plugin-lock-modal .ant-form .ant-form-item .ant-input {
  width: 100%;
  text-align: center;
}
.vote-modal .ant-form .ant-form-item .ant-form-item-control,
.vote-redeem-modal .ant-form .ant-form-item .ant-form-item-control,
.apply-node-modal .ant-form .ant-form-item .ant-form-item-control,
.dividend-modal .ant-form .ant-form-item .ant-form-item-control,
.vote-confirm-modal .ant-form .ant-form-item .ant-form-item-control,
.plugin-lock-modal .ant-form .ant-form-item .ant-form-item-control {
  line-height: inherit;
}
.vote-modal .ant-form .ant-form-item .ant-form-item-control .right-icon,
.vote-redeem-modal .ant-form .ant-form-item .ant-form-item-control .right-icon,
.apply-node-modal .ant-form .ant-form-item .ant-form-item-control .right-icon,
.dividend-modal .ant-form .ant-form-item .ant-form-item-control .right-icon,
.vote-confirm-modal .ant-form .ant-form-item .ant-form-item-control .right-icon,
.plugin-lock-modal .ant-form .ant-form-item .ant-form-item-control .right-icon {
  position: absolute;
  right: -30px;
  top: 0;
  color: #999;
}
.vote-modal .ant-form .ant-form-item .ant-calendar-picker,
.vote-redeem-modal .ant-form .ant-form-item .ant-calendar-picker,
.apply-node-modal .ant-form .ant-form-item .ant-calendar-picker,
.dividend-modal .ant-form .ant-form-item .ant-calendar-picker,
.vote-confirm-modal .ant-form .ant-form-item .ant-calendar-picker,
.plugin-lock-modal .ant-form .ant-form-item .ant-calendar-picker {
  width: 100%;
}
.vote-modal .ant-form .ant-form-item .ant-calendar-picker > div,
.vote-redeem-modal .ant-form .ant-form-item .ant-calendar-picker > div,
.apply-node-modal .ant-form .ant-form-item .ant-calendar-picker > div,
.dividend-modal .ant-form .ant-form-item .ant-calendar-picker > div,
.vote-confirm-modal .ant-form .ant-form-item .ant-calendar-picker > div,
.plugin-lock-modal .ant-form .ant-form-item .ant-calendar-picker > div {
  height: 34px;
}
.vote-modal .ant-modal-content,
.vote-redeem-modal .ant-modal-content,
.apply-node-modal .ant-modal-content,
.dividend-modal .ant-modal-content,
.vote-confirm-modal .ant-modal-content,
.plugin-lock-modal .ant-modal-content {
  text-align: center;
}
.vote-modal .ant-modal-footer,
.vote-redeem-modal .ant-modal-footer,
.apply-node-modal .ant-modal-footer,
.dividend-modal .ant-modal-footer,
.vote-confirm-modal .ant-modal-footer,
.plugin-lock-modal .ant-modal-footer {
  border: none;
  padding-bottom: 32px;
}
.vote-modal .ant-modal-footer .ant-btn,
.vote-redeem-modal .ant-modal-footer .ant-btn,
.apply-node-modal .ant-modal-footer .ant-btn,
.dividend-modal .ant-modal-footer .ant-btn,
.vote-confirm-modal .ant-modal-footer .ant-btn,
.plugin-lock-modal .ant-modal-footer .ant-btn {
  width: 320px;
}
.vote-modal .ant-modal-footer .ant-btn:first-child,
.vote-redeem-modal .ant-modal-footer .ant-btn:first-child,
.apply-node-modal .ant-modal-footer .ant-btn:first-child,
.dividend-modal .ant-modal-footer .ant-btn:first-child,
.vote-confirm-modal .ant-modal-footer .ant-btn:first-child,
.plugin-lock-modal .ant-modal-footer .ant-btn:first-child {
  display: none;
}
.ant-picker-dropdown .ant-picker-date-panel {
  width: 450px;
}
.ant-picker-dropdown .ant-picker-date-panel .ant-picker-header,
.ant-picker-dropdown .ant-picker-date-panel .ant-picker-content {
  width: 100%;
}
.ant-picker-dropdown .ant-picker-date-panel .ant-calendar-disabled-cell.ant-calendar-selected-day .ant-calendar-date::before,
.ant-picker-dropdown .ant-picker-date-panel .ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date::before {
  left: 18px;
}
.vote-btn-loading.ant-modal {
  height: 54px;
}
.vote-btn-loading.ant-modal .ant-modal-content {
  border-radius: 8px;
}
.vote-btn-loading.ant-modal .ant-modal-body {
  padding: 16px;
  text-align: center;
}
.vote-btn-loading.ant-modal .ant-modal-close-x {
  display: none;
}
@media (max-width: 768px) {
  .card-container {
    padding: 20px;
  }
  .ant-calendar-picker-container .ant-calendar {
    width: 300px;
  }
}
.table-card-header {
  padding: 46px 30px 30px;
}
.statistical-data-container .vote-statistic .anticon {
  position: static;
}
