.discover-page-wrap {
  min-height: 100vh;
  color: white;
  background: #000;
  overflow: scroll;
  @apply px-[16px] pb-[128px];
  .init-loading-wrap {
    @apply mt-[100px];
  }
}
.discover-page-tab {
  color: white;
  .adm-tabs-header {
    position: fixed;
    height: 72px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 1;
    z-index: 2;
    border-bottom: none;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .adm-tabs-tab-list {
    height: 26px;
    width: calc(100vw - 16px - 16px);
    overflow-y: hidden;
  }
   
   .adm-tabs-content {
    @apply p-0;
    padding-top: 72px;
   }
   .adm-tabs-tab-wrapper {
    @apply p-0 flex-grow-0;
   }
   .adm-tabs-tab-wrapper + .adm-tabs-tab-wrapper {
    @apply ml-[8px];
   }
   .adm-tabs-tab-line,
   .adm-tabs-header-mask
   {
    @apply hidden;
   }
   .adm-tabs-tab {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--Black-BG-Dark-D, #292929);
    color: var(--Black-Tertiary-D, #9A9A9A);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    &.adm-tabs-tab-active {
      background: var(--Black-BG-Dark-D, #292929);
      color: var(--Black-Tertiary-D, #9A9A9A);
    }
   }
}
.discover-app-select-drawer-root {
  &.telegram-common-drawer .TMRWDAO-btn {
    border-radius: 16px;
  }
  .TMRWDAO-checkbox-wrapper {
    color: var(--Black-Tertiary-D, #9A9A9A);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .TMRWDAO-checkbox-wrapper {
    @apply flex-center;
    padding: 8px;
    border-radius: 100px;
    border: 1px solid var(--Black-BG-Light-D, #3A3A3A);
  }
  .TMRWDAO-checkbox-wrapper-checked {
    background: var(--Black-BG-Light-D, #3A3A3A);
  }
}
.discover-app-select-drawer {
  .TMRWDAO-checkbox-group {
    @apply grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
  }
}
.unset-check-box {
  .TMRWDAO-checkbox {
    @apply hidden;
  }
}
.reached-the-bottom {
  @apply mt-[24px] py-[32px];
}
.discover-app-list-refresh-icon {
  @apply w-[48px] h-[48px];
  position: fixed;
  right: 0;
  bottom: 84px;
  border-radius: 100px;
  background: var(--Violet-violet-600, #4B1FC5);
  /* Shadow_Button */
  box-shadow: 0px 4px 8px 0px rgba(34, 14, 91, 0.40);
}