.discover-page-wrap {
  min-height: calc(100vh - 186px);
  color: white;
  background: #000;
  @apply px-[16px];
  .init-loading-wrap {
    @apply mt-[100px];
  }
}
.discover-page-tab {
  color: white;
  .TMRWDAO-tabs-nav {
    position: sticky;
    height: 24px;
    margin-top: 24px;
    top: 0px;
    background: #000;
  }
  
  & .TMRWDAO-tabs-tab-btn:active,
  & .TMRWDAO-tabs-tab-btn:focus:not(:focus-visible),
  & .TMRWDAO-tabs-tab-btn {
    color: var(--Black-Tertiary-D, #9A9A9A);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
  .TMRWDAO-tabs-tab + .TMRWDAO-tabs-tab {
    margin: 0 0 0 8px;
  }
  .TMRWDAO-tabs-tab {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--Black-BG-Dark-D, #292929);
  }
  & >.TMRWDAO-tabs-nav {
    margin-bottom: 0;
  }
  & > .TMRWDAO-tabs-nav .TMRWDAO-tabs-nav-wrap::before,
  & >.TMRWDAO-tabs-nav::before,
  & >.TMRWDAO-tabs-nav .TMRWDAO-tabs-nav-operations
  {
    display: none;
  }
  .TMRWDAO-tabs-ink-bar {
    display: none !important;
  }
  & .TMRWDAO-tabs-tab.TMRWDAO-tabs-tab-active  {
    background: var(--Black-BG-Dark-D, #292929);
  }
  & .TMRWDAO-tabs-tab.TMRWDAO-tabs-tab-active .TMRWDAO-tabs-tab-btn {
    color: var(--Black-Tertiary-D, #9A9A9A);
  }
}