.my-point-wrap {
  @apply  px-[16px];
  min-height: 100vh;
  .header {
    @apply flex justify-between items-center pt-[32px] pb-[24px];
    h3 {
      @apply text-[#FFF];
    }
    p {
      color: var(--Text-Gray-2, #edeef0);
      @apply inline-flex pt-[0.375rem] pb-[8px] px-[16px] justify-center items-center gap-[0.625rem] rounded-[1.625rem] bg-[#4600C5];
      .amount {
        color: var(--Accent-2, #51ff00);
      }
    }
  }
  .point-list {
    @apply flex flex-col gap-[8px];
    .point-list-item {
      @apply flex justify-between px-[16px] h-[68px] items-center rounded-[1rem] border-[0.0625rem] border-solid border-[#454750] bg-[#2F3036];
      .TMRWDAO-icon {
        @apply text-[28px] text-[#ACA6FF];
      }
      .wrap1 {
        @apply flex items-center pr-[16px];
      }
      .body {
        @apply  ml-[16px];
        p {
          color: var(--Native-subtitle_text_color, #AAA);
        }
        h3 {
          color: #fff;
        }
      }
      .amount {
        color: var(--Text-2, #DDDFFF);
      }
    }
  }
}
.show-more-button-wrap {
  @apply flex justify-center items-center mt-[24px];
  .show-more-button-wrap-button {
    @apply cursor-pointer flex h-[3.125rem] text-[#ACA6FF] w-[150px] px-[0.75rem] py-[15px] justify-center items-center gap-[0.625rem] rounded-[0.625rem] border-[0.0625rem] border-solid border-[rgba(255,255,255,0.10)];
  }
  .show-more-button-refresh {
    &.loading {
      @apply animate-spin;
    }
  }
}

