.referral-wrap {
  .banner-img {
    @apply w-full;
  }
  @apply pt-[32px] px-[16px];
  .rules-wrap {
    @apply top-[32px] right-[16px];
  }
  .invite-btn {
    @apply w-full flex items-center justify-center my-[32px];
  }
  .referral-task-wrap {
    img {
      @apply w-full;
    }
  }

  .reward {
    color: var(--Text-1, #ACA6FF);
    background: #1B1741;
    border-radius: 8px;
    @apply p-[24px] text-center;
  }
  .reward-title {
    @apply text-[16px];
  }
  .reward-num {
    color: #FFF;
    margin-top: 4px;
  }
  .records {
    @apply flex justify-between mt-[16px];
    .records-item {
      @apply flex items-center flex-col text-white flex-1;
      img {
        @apply w-[16px] h-[16px] mr-[4px];
      }
    }
    .border {
      border-left: 1px solid #2D1F73;
      @apply w-[1px] ;
    }
    .records-title {
      color: var(--Text-1, #ACA6FF);
      display: flex;
      align-items: center;
      margin-bottom: 4px;
    }
  }


}
.invite-drawer-header {
  .close-target {
    @apply hidden;
  }
}
.invite-drawer-body, .referral-wrap {
  .leaderboard-wrap {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    .header {
      @apply p-[12px];
      color: var(--Text-1, #ACA6FF);
    }
    .top-wrap {
      border-radius: 8px;
      background: var(--Interactive-2, #2D1F73);
      @apply px-[8px] py-[10px];
      .main {
        @apply flex;
      }
      .me-tag {
        border-radius: 3px;
        background: var(--Accent-1, #0395FF);
        padding: 0px 2px;
        color: #FFF;
        font-size: 10px;
        font-weight: 400;
        margin-left: 4px;
        line-height: 10px;
      }
    }
    .invite-item {
      @apply px-[12px] py-[14px];
    }
    .header, .top-wrap, .invite-item {
      @apply flex items-center;
      .left {
        @apply w-[48px];
      }
      .main {
        @apply flex-1 px-[8px];
      }
      .right {
        @apply w-[60px];
        text-align: right;
      }
      .TMRWDAO-hash-address > span {
        color: #FFF;
      }
    }
    .view-more {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      text-align: center;
      display: flex;
      justify-content: center;
      cursor: pointer;
      @apply py-[8px];
      color: var(--Accent-1, #0395FF);
      .view-more-text {
        @apply pr-[8px];
      }
    }
  }
}
.invite-drawer-body-wrap {
  .drawer-body {
    @apply px-[16px];
  }
}
.invite-drawer-body .leaderboard-wrap {
  line-height: 18px;
  .header {
    @apply px-[12px] py-[19px];
  }
  .top-wrap {
    @apply px-[12px] py-[14px];
  }
  .invite-item {
    @apply px-[12px] py-[18px];
  }
}
.invite-drawer-body {
  .TMRWDAO-select {
    @apply h-[48px] text-white;
  }
  .TMRWDAO-select-single.TMRWDAO-select-open .TMRWDAO-select-selection-item {
    @apply text-white;
  }
  .TMRWDAO-select-selector {
    border: 1px solid var(--Border-Gray-1, #373940) !important;
    background: var(--Interactive-Gray-1, #212125) !important;
    border-radius: 16px;
    color: #FFF !important;
  }
}
.invite-drawer-popup {
  .TMRWDAO-empty-description {
    @apply text-white;
  }
  &.TMRWDAO-select-dropdown {
    background: var(--Interactive-Gray-2, #28292E);
  }
  .TMRWDAO-select-item-option {
    background: var(--Interactive-Gray-2, #28292E) !important;
    color: #FFF !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 18px;
    height: 48px;
    padding: 15px 12px;
  }
}
.referral-link-wrap {
  border-radius: 12px;
  margin-top: 24px;
  background: var(--Interactive-Gray-2, #28292E);
  width: 100%;
  @apply p-[12px];
  h2 {
    color: #FFF;
    @apply mb-[8px];
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Text-Gray-1, #B1B3BC);
  }
  .link-text {
    @apply mr-[12px];
  }
  .copy-button {
    border-radius: 8px;
background: var(--Custom-plain_background, rgba(255, 255, 255, 0.08));
    @apply p-[8px] cursor-pointer text-[16px];
  }
}

.referral-task-wrap {
  @apply flex w-full;
  .referral-task-item {
    @apply flex-1;
  }
  h2 {
    font-size: 16px;
    color: var(--Text-1, #ACA6FF);
    font-weight: 400;
    line-height: 20px; 
    margin-bottom: 20px;
    text-align: center;
  }
  .split-line {
    @apply w-[32px] flex justify-center;
    svg {
      @apply w-[2px] overflow-hidden;
    }
  }
  .text-item {
    padding: 8px;
    border-radius: 8px;
    background: #1B1741;
    color: #FFF;
    width: 100%;
  }
  .referral-task-item-rules {
    @apply flex flex-col items-center h-full;
    &.right {
      .TMRWDAO-icon {
        @apply text-[16px] py-[4px] text-[#ACA6FF];
      }
    }
    &.left {
      @apply flex flex-col justify-between;
    }
    .bold {
      color: var(--Accent-2, #51FF00);
      font-weight: 590;
    }
  }
  .referral-task-item.left {
    @apply flex flex-col;
  }
  .referral-task-item-rules.left {
    .text-item {
      @apply relative;
    }
    .TMRWDAO-icon {
      transform: translateY(-50%);
      @apply absolute top-[50%] right-[-24px] text-[#ACA6FF];
    }
  }
}