.copy-list-item-wrapper .copy-list-value {
  margin-left: 16px;
  color: #266cd3;
}
.copy-list-item-wrapper .ant-btn-circle {
  border: none;
  background-color: transparent;
}
.copy-list-item-wrapper .ant-btn-circle .anticon {
  color: #266cd3;
}
