.trading-box {
  background: #ffffff;
  display: flex;
  justify-content: center;
}

.trading-box .antExplorer-input-group-addon {
  border-left: none;
  background: transparent;
  color: #B4B4B4;
}

.trading-box .antExplorer-input {
  border: 1px solid #d9d9d9;
  border-right: none;
  background: transparent;
  color: #B4B4B4;
}

.trading-box .antExplorer-input-number {
  border: 1px solid #d9d9d9;
  background: transparent;
  color: #B4B4B4;
}

.trading-buy {
  border-right: 1px solid rgba(255, 255, 255, 0.19);
}

.trading-buy .trading-title {
  color: #05ac90;
  font-size: 16px;
  font-weight: 900;
}

.trading-buy .antExplorer-slider-track {
  background: #05ac90;
}

.trading-buy .antExplorer-slider-dot-active {
  border-color: #05ac90;
  background: #05ac90;
}

.trading-buy .antExplorer-slider-handle {
  border-color: #05ac90;
  background: #05ac90;
  transform: none !important;
}

.trading-buy .antExplorer-slider-handle:focus {
  box-shadow: none;
}

.trading-buy .antExplorer-slider-track:focus {
  background: #05ac90;
}

.trading-buy .antExplorer-slider:hover .antExplorer-slider-track {
  background: #05ac90;
}

.trading-buy .antExplorer-slider:hover .antExplorer-slider-handle {
  border: none;
}

.trading-buy .ELF-value .antExplorer-spin-nested-loading {
  position: relative;
  display: inline-block;
  min-height: 30px;
}

.trading-buy .antExplorer-spin-container {
  padding: 3px;
}

.trading-buy .antExplorer-form-item {
  margin-bottom: 0;
}

.trading-buy .antExplorer-form-item .antExplorer-form-explain {
  position: absolute;
  top: -50%;
}

.antExplorer-confirm-title {
  color: #000;
}

.approve-info {
  color: #000;
}