.unstake-form-token {
  img {
    @apply w-[24px] h-[24px] mr-[8px];
  }
  .token-text {
    @apply text-[16px] leading-[24px] text-Neutral-Disable-Text;
  }
}
.my-info-wrap {
  .TMRWDAO-divider-horizontal {
    @apply m-0;
  }
}