.antExplorer-pagination {
    align-items: center;

    .antExplorer-pagination-item {
        height: 32px;
        line-height: 32px;
    }
}

.page-content-wrap {
    min-height: calc(100vh - 82px - 219px);
}