.proposal-vote p {
  margin-bottom: 1em;
  .explain {
    color: #858585;
  }
}
.proposal-vote.small {
  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
.proposal-vote.default {
  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

.proposal-vote .proposal-vote-chart .antExplorer-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}