.proposal-result-list-item {
  display: flex;
  flex-flow: row nowrap;
}
.proposal-result-list-item .sub-title {
  display: inline-block;
  min-width: 180px;
  text-align: right;
}
.proposal-result-list-item pre.proposal-result-list-item-value {
  background-color: #eeeeee;
  max-height: 220px;
  border-radius: 5px;
  overflow: auto;
  flex-grow: 1;
  margin-bottom: 0;
}
.proposal-result-list-item pre.proposal-result-list-item-value.contract-params {
  text-align: left;
}
.contract-proposal {
  margin-top: 16px;
}
.contract-proposal .ant-form-item {
  margin-bottom: 20px;
}
.contract-proposal .upload-file-form-item {
  margin-bottom: 0;
}
.contract-proposal .ant-btn-primary:focus {
  border-color: #266cd3;
  background: #266cd3;
}
.ant-modal-footer {
  text-align: center;
}
@media only screen and (max-width: 481px) {
  .create-proposal-modal.ant-modal-wrap .ant-modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
.create-proposal-modal.ant-modal-wrap .ant-modal,
.contract-proposal-modal.ant-modal-wrap .ant-modal {
  border-radius: 8px;
}
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content {
  border-radius: 8px;
}
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-header,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-header {
  height: 72px;
  padding: 22px 24px;
  border-bottom: 1px solid #f0f0f0;
}
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-header .ant-modal-title,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-header .ant-modal-title {
  padding: 0;
  border-bottom: 0;
  text-align: left;
}
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body {
  padding-top: 40px;
}
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .address-name-ver .contract-address,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .address-name-ver .contract-address,
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .address-name-ver .contract-name,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .address-name-ver .contract-name,
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .address-name-ver .contract-version,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-content .address-name-ver .contract-version {
  margin-left: 0;
}
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-footer,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-footer {
  border: none;
  padding-bottom: 24px;
}
.create-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-footer .ant-btn,
.contract-proposal-modal.ant-modal-wrap .ant-modal .ant-modal-footer .ant-btn {
  width: 240px;
  height: 40px;
  border-radius: 2px;
  display: inline-block;
}
.contract-proposal-notice-content {
  color: #858585;
  font-size: 12px;
}
.contract-proposal-notice-content div {
  line-height: 20px;
}
.contract-proposal-notice-content .content-item {
  display: flex;
  align-items: flex-start;
}
.contract-proposal-notice-content .content-item :first-child {
  width: 4%;
}
.proposal-apply-tab .apply-btn {
  margin-top: 16px;
  display: block;
}
.proposal-apply-tab.ant-tabs-mobile .apply-btn {
  margin: 16px auto 0;
  display: block;
}
.sure-modal-content,
.sure-modal-content-mobile {
  width: 720px;
}
.sure-modal-content .ant-modal-content,
.sure-modal-content-mobile .ant-modal-content {
  border-radius: 8px;
}
.sure-modal-content .ant-modal-content .ant-modal-body,
.sure-modal-content-mobile .ant-modal-content .ant-modal-body {
  height: 100%;
  padding: 56px 24px 36px;
}
.sure-modal-content .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper,
.sure-modal-content-mobile .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper {
  width: 100%;
  height: 100%;
}
.sure-modal-content .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns,
.sure-modal-content-mobile .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns {
  text-align: center;
  margin-top: 56px;
}
.sure-modal-content .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn,
.sure-modal-content-mobile .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn {
  width: 120px;
  height: 40px;
}
.sure-modal-content .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn-primary:focus,
.sure-modal-content-mobile .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn-primary:focus {
  border-color: #266cd3;
  background: #266cd3;
}
.sure-modal-content-mobile {
  padding: 0 8px 24px;
}
